* {
    box-sizing: border-box;
}
body {
    background-color: #A0C3D2;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
h1 {
    color: red;
}