* {
    box-sizing: border-box;
}
body {
    background-image: url("images/bg.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}
h1 {
    color: tomato;
}